<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

</head>
<body class="bg-gradient-to-r from-blue-600 to-violet-600 h-screen flex items-center justify-center p-6 max-lg:p-2">
    <div class="bg-white shadow-lg rounded-lg p-8 w-1/2 max-lg:w-full ">
        <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">To-Do List</h1>


        <form method="POST" action="{% url 'dashboard' %}">
            {% csrf_token %}
            {{ form }} 
            <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg 
              hover:bg-blue-700 transition duration-300">Add Task</button>
        </form>

        <div class="w-full mt-6  max-h-[30rem] max-lg:max-h-[10rem] overflow-auto">
            {% for item in tasks %}
            <div class="flex items-center justify-between max-lg:block px-3  bg-blue-600 rounded-lg p-3 w-full mt-2">
                <h1 class="text-white">Task: {{ item.task }}</h1>
                <h1 class="text-white">Priority: {{ item.priority }}</h1>
                <h1 class="text-white">Deadline: {{ item.date }}</h1>

                <a href="?DELETE={{ forloop.counter0 }}" class="text-white
                     rounded-full bg-red-600 px-2">Delete</a>
            </div>
            {% empty %}
            <h1 class="text-white p-3 text-center rounded-lg bg-red-600 w-full mt-2">No tasks yet.</h1>
            {% endfor %}
        </div>
    </div>
</body>
</html>
