<html>
<head>
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body >
    <div class="flex items-center justify-center h-screen bg-green-500">
        <div class="text-center bg-blue-500 h-[50%] flex justify-center items-center w-1/4 rounded-lg">
            <div>
                <h1 class="text-white text-4xl mb-4">This is Login page</h1>
                <a href="{% url 'index' %}" class="bg-white text-green-500 font-bold py-2 px-4 rounded">
                    Go to Welcome page
                </a>
            </div>
        </div>
    </div>
</body>
</html>
